<% if !@completed %>
    <a id="create_idea" style="float:right; margin-right: 10px" href="">Create an idea!</a>
    <div style="clear:both"></div>
<% end %>


<% list_id = @completed ? "idea_list_completed" : "idea_list_todo" %>
<ul id="<%= list_id %>" class="sortable_list">
    <% @ideas.each do |idea| %>
        <li id="idea_<%= idea.id %>" dojoType="ideapad.IdeaElement"><%= idea.title %></li>
    <% end %>
</ul>

<% if @ideas.nil? %>
    You have no ideas.  Hire more people that are smarter than you.
<% end %>