<% if idea_list.nil? %>
    You have no ideas.  Hire more people that are smarter than you.
<% else %>

    <script type="text/javascript">
        dojo.require("ideapad.IdeaElement")
        dojo.addOnLoad(function(){
            <%= sortable_element_js('idea_list', :skipForm => true) %>
        });
    </script>

    <ul id="idea_list" class="sortable_list" skipForm="true">
    <% idea_list.each do |idea| %>
      <li id="idea_<%= idea.id %>" dojoType="ideapad.IdeaElement"><%= idea.title %></li>
    <% end %>
    </ul>
<% end %>