
<script type="text/javascript">
    dojo.require("dijit.layout.ContentPane");
    dojo.require("dijit.layout.TabContainer");
</script>

<%= image_tag "logo.png", :id => "logo" %>

<div id="mainTabContainer" dojoType="dijit.layout.TabContainer" tabStrip="true" style="width: 100%; height: 500em;">
    <div dojoType="dijit.layout.ContentPane" title="TODO">
        <%= render :partial => "idea_list", :collections => @idea_list %>
    </div>

    <div dojoType="dijit.layout.ContentPane" title="Completed">
        heyo!<br/>
    </div>
</div>

<script type="text/javascript">
</script>